openapi: 3.0.3
info:
  title: API картинг-центра «Апекс» — клиентское приложение
  description: |
    REST API для мобильного приложения самостоятельной записи на заезды картинг-центра «Апекс».
    
    **Скоуп:** только клиентское приложение. Формирование расписания, роли маршала и владельца,
    управление парком картов — существующая инфраструктура (вне API).
    
    **Ключевые принципы:**
    - Все запросы (кроме /auth/*) требуют `Authorization: Bearer <access_token>`
    - Сервер — источник истины по времени, доступности и цене
    - Атомарные операции: овербукинг и двойные брони исключены
    - Idempotency-Key обязателен для `POST /bookings`
  version: 1.0.0
  contact:
    name: Апекс картинг-центр
  license:
    name: Proprietary

servers:
  - url: https://api.apex-karting.ru/v1
    description: Production
  - url: https://staging-api.apex-karting.ru/v1
    description: Staging

tags:
  - name: Auth
    description: Аутентификация по телефону + OTP
  - name: Profile
    description: Профиль клиента
  - name: Slots
    description: Просмотр расписания (read-only)
  - name: Bookings
    description: Бронирование и управление записями
  - name: Instructors
    description: Справочник маршалов (read-only)
  - name: Ratings
    description: Оценка маршала

paths:
  # ==================== AUTH ====================
  /auth/request-code:
    post:
      tags:
        - Auth
      summary: Запросить OTP-код
      operationId: requestAuthCode
      description: Отправляет SMS с одноразовым кодом на указанный номер телефона.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestCodeRequest'
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/InternalError'

  /auth/verify-code:
    post:
      tags:
        - Auth
      summary: Подтвердить OTP-код
      operationId: verifyAuthCode
      description: |
        Проверяет код, выдает пару JWT-токенов и данные клиента.
        Если клиент новый (`is_new = true`), поле `name` пустое — его нужно заполнить через `PATCH /profile`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyCodeRequest'
      responses:
        '200':
          description: Успешный вход
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/InternalError'

  /auth/refresh:
    post:
      tags:
        - Auth
      summary: Обновить сессию
      operationId: refreshToken
      description: Обменивает refresh-токен на новую пару (ротация).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Новая пара токенов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  /auth/logout:
    post:
      tags:
        - Auth
      summary: Выйти из аккаунта
      operationId: logout
      description: Завершает сессию, инвалидирует refresh-токен.
      responses:
        '204':
          description: Сессия завершена
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  /auth/push-tokens:
    post:
      tags:
        - Auth
      summary: Зарегистрировать push-токен
      operationId: registerPushToken
      description: Регистрирует устройство для получения push-уведомлений (напоминания, отмена центром).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenRequest'
      responses:
        '204':
          description: Токен зарегистрирован
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Auth
      summary: Удалить push-токен
      operationId: deletePushToken
      description: Отвязывает устройство от push-уведомлений.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushTokenDeleteRequest'
      responses:
        '204':
          description: Токен удалён
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/InternalError'

  # ==================== PROFILE ====================
  /profile:
    get:
      tags:
        - Profile
      summary: Получить профиль
      operationId: getProfile
      description: Возвращает данные текущего клиента (только свои).
      responses:
        '200':
          description: Профиль клиента
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    patch:
      tags:
        - Profile
      summary: Обновить имя
      operationId: updateProfile
      description: Изменяет имя клиента (без подтверждения кодом).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Профиль обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'
    delete:
      tags:
        - Profile
      summary: Удалить аккаунт
      operationId: deleteAccount
      description: |
        Необратимое удаление аккаунта и персональных данных.
        **Последствия:**
        - Активные брони аннулируются и освобождают места
        - Прошедшие брони анонимизируются (для статистики)
        - Все сессии завершаются
        - Телефон освобождается для повторной регистрации
      responses:
        '204':
          description: Аккаунт удалён
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  /profile/phone/request-code:
    post:
      tags:
        - Profile
      summary: Запросить код для смены телефона
      operationId: requestPhoneChangeCode
      description: Отправляет OTP-код на новый номер телефона для подтверждения смены.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePhoneRequestCodeRequest'
      responses:
        '200':
          description: Код отправлен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        default:
          $ref: '#/components/responses/InternalError'

  /profile/phone/confirm:
    post:
      tags:
        - Profile
      summary: Подтвердить смену телефона
      operationId: confirmPhoneChange
      description: Подтверждает новый номер кодом и обновляет телефон клиента.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePhoneConfirmRequest'
      responses:
        '200':
          description: Телефон обновлён
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/InternalError'

  # ==================== SLOTS ====================
  /slots:
    get:
      tags:
        - Slots
      summary: Список слотов с фильтрами
      operationId: listSlots
      description: |
        Возвращает предстоящие заезды (слоты) с фильтрацией и пагинацией.
        - По умолчанию — ближайшие 7 дней (`date_from = now`, `date_to = now + 7 дней`)
        - Сортировка по `start_at` по возрастанию
        - `only_available = false` по умолчанию (заполненные слоты видны с пометкой «Мест нет»)
      parameters:
        - $ref: '#/components/parameters/DateFromParam'
        - $ref: '#/components/parameters/DateToParam'
        - $ref: '#/components/parameters/TrackConfigParam'
        - $ref: '#/components/parameters/InstructorIdParam'
        - $ref: '#/components/parameters/OnlyAvailableParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Список слотов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SlotListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  /slots/{slotId}:
    get:
      tags:
        - Slots
      summary: Карточка слота
      operationId: getSlot
      description: Полные данные слота для карточки заезда (дата, трасса, маршал, места, цены, требования, место сбора, длительность).
      parameters:
        - $ref: '#/components/parameters/SlotIdParam'
      responses:
        '200':
          description: Данные слота
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Slot'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/InternalError'

  # ==================== BOOKINGS ====================
  /bookings:
    post:
      tags:
        - Bookings
      summary: Создать бронь
      operationId: createBooking
      description: |
        Запись на заезд. Обязательный заголовок `Idempotency-Key` для защиты от дублирования.
        - `seats_count` — число мест (1..max, где max = min(free_karts, потолок трассы))
        - `rental_gear_count` — число прокатных комплектов (0..seats_count)
        - `price_total` рассчитывается сервером атомарно
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
      responses:
        '201':
          description: Бронь создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        '410':
          $ref: '#/components/responses/Gone'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - Bookings
      summary: Мои брони
      operationId: listBookings
      description: |
        Список броней текущего клиента с пагинацией.
        - Фильтр по статусу (OR) — без фильтра возвращаются все статусы
        - Сортировка по `slot.start_at` по убыванию (ближайшие/последние сверху)
        - Группировка предстоящие/прошедшие — на клиенте по `slot.start_at` и `duration_minutes`
      parameters:
        - $ref: '#/components/parameters/BookingStatusParam'
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Список броней
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  /bookings/{bookingId}:
    get:
      tags:
        - Bookings
      summary: Детали брони
      operationId: getBooking
      description: Полные данные брони с вложенным слотом, маршрутом и маршалом, включая оценку (если есть).
      parameters:
        - $ref: '#/components/parameters/BookingIdParam'
      responses:
        '200':
          description: Детали брони
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/InternalError'

  /bookings/{bookingId}/cancel:
    post:
      tags:
        - Bookings
      summary: Отменить бронь
      operationId: cancelBooking
      description: |
        Отмена брони. Сервер определяет тип по времени до старта:
        - `>= 1 ч` → `cancelled` (места и экипировка возвращаются)
        - `< 1 ч` → `late_cancel` (места не возвращаются, штрафов нет)
        Граница ровно 1 час трактуется как ранняя отмена.
      parameters:
        - $ref: '#/components/parameters/BookingIdParam'
      responses:
        '200':
          description: Бронь отменена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Booking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/InternalError'

  # ==================== INSTRUCTORS ====================
  /instructors:
    get:
      tags:
        - Instructors
      summary: Справочник маршалов
      operationId: listInstructors
      description: Список маршалов-инструкторов для фильтрации. Read-only справочник.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Список маршалов
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructorListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

  # ==================== RATINGS ====================
  /ratings:
    post:
      tags:
        - Ratings
      summary: Оценить маршала
      operationId: createRating
      description: |
        Однократная оценка маршала после завершённого заезда.
        - Доступно только если заезд состоялся (`slot.start_at + slot.duration_minutes * 60 < now`)
        - Оценка может быть оставлена только один раз для одной брони
        - Комментарий опционален
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRatingRequest'
      responses:
        '201':
          description: Оценка сохранена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/InternalError'
    get:
      tags:
        - Ratings
      summary: Получить оценку по брони
      operationId: getRatingByBooking
      description: Возвращает оценку маршала для указанной брони, если она уже оставлена.
      parameters:
        - in: query
          name: booking_id
          required: true
          schema:
            type: string
            format: uuid
          description: Идентификатор брони
      responses:
        '200':
          description: Оценка найдена
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '404':
          description: Оценка не найдена
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access-токен. Передаётся в заголовке `Authorization: Bearer <token>`.

  parameters:
    LimitParam:
      in: query
      name: limit
      required: false
      description: Максимальное число элементов на странице (1..100)
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    OffsetParam:
      in: query
      name: offset
      required: false
      description: Смещение от начала выдачи
      schema:
        type: integer
        minimum: 0
        default: 0

    SlotIdParam:
      in: path
      name: slotId
      required: true
      description: Идентификатор слота
      schema:
        type: string
        format: uuid
    BookingIdParam:
      in: path
      name: bookingId
      required: true
      description: Идентификатор брони
      schema:
        type: string
        format: uuid

    IdempotencyKeyHeader:
      in: header
      name: Idempotency-Key
      required: true
      description: Обязательный UUID для защиты от дублирования (NFR-9)
      schema:
        type: string
        format: uuid

    DateFromParam:
      in: query
      name: date_from
      required: false
      description: Слоты со стартом не раньше указанного момента (включительно). По умолчанию — текущий момент.
      schema:
        type: string
        format: date-time
    DateToParam:
      in: query
      name: date_to
      required: false
      description: Слоты со стартом не позже указанного момента (включительно). По умолчанию — date_from + 7 дней.
      schema:
        type: string
        format: date-time
    TrackConfigParam:
      in: query
      name: track_config
      required: false
      style: form
      explode: true
      description: Тип конфигурации трассы (мультивыбор, OR)
      schema:
        type: array
        items:
          type: string
          enum: [novice, experienced]
    InstructorIdParam:
      in: query
      name: instructor_id
      required: false
      style: form
      explode: true
      description: Идентификаторы маршалов (мультивыбор, OR)
      schema:
        type: array
        items:
          type: string
          format: uuid
    OnlyAvailableParam:
      in: query
      name: only_available
      required: false
      description: Только слоты со свободными местами (`free_karts > 0`). По умолчанию `false`.
      schema:
        type: boolean
        default: false
    BookingStatusParam:
      in: query
      name: status
      required: false
      style: form
      explode: true
      description: Фильтр по статусу брони (мультивыбор, OR). Без параметра — все статусы.
      schema:
        type: array
        items:
          type: string
          enum: [active, cancelled, late_cancel, center_cancelled]

  schemas:
    # -------- ERRORS --------
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          enum:
            - bad_request
            - unauthorized
            - forbidden
            - not_found
            - conflict
            - slot_full
            - gear_unavailable
            - double_booking
            - slot_cancelled
            - slot_started
            - already_cancelled
            - invalid_code
            - idempotency_key_conflict
            - too_many_requests
            - internal_error
          description: Машинный код ошибки
        message:
          type: string
          description: Человекочитаемое сообщение
        details:
          type: object
          description: Дополнительные данные для UI (например, остаток мест/экипировки)
          properties:
            free_karts:
              type: integer
            free_rental_gear:
              type: integer

    # -------- PAGINATION --------
    PaginationMeta:
      type: object
      required: [limit, offset, total]
      properties:
        limit:
          type: integer
          example: 20
        offset:
          type: integer
          example: 0
        total:
          type: integer
          example: 42

    # -------- AUTH --------
    RequestCodeRequest:
      type: object
      required: [phone]
      properties:
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          example: '+79991234567'
          description: Номер телефона в формате E.164

    RequestCodeResponse:
      type: object
      required: [ttl_seconds, resend_after_seconds]
      properties:
        ttl_seconds:
          type: integer
          description: Срок жизни кода в секундах (по умолчанию 300)
          example: 300
        resend_after_seconds:
          type: integer
          description: Через сколько секунд можно запросить повторную отправку
          example: 60

    VerifyCodeRequest:
      type: object
      required: [phone, code]
      properties:
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          example: '+79991234567'
        code:
          type: string
          pattern: '^\d{4,6}$'
          example: '1234'
          description: OTP-код из SMS

    TokenPair:
      type: object
      required: [access_token, refresh_token, token_type, expires_in]
      properties:
        access_token:
          type: string
          description: JWT access-токен (короткоживущий)
        refresh_token:
          type: string
          description: Refresh-токен для обновления сессии
        token_type:
          type: string
          enum: [Bearer]
          example: Bearer
        expires_in:
          type: integer
          description: Срок жизни access-токена в секундах
          example: 900

    Client:
      type: object
      required: [id, phone, created_at]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Имя клиента. Может быть пустым для новых клиентов (is_new = true)
        phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          example: '+79991234567'
        created_at:
          type: string
          format: date-time

    VerifyCodeResponse:
      type: object
      required: [tokens, client, is_new]
      properties:
        tokens:
          $ref: '#/components/schemas/TokenPair'
        client:
          $ref: '#/components/schemas/Client'
        is_new:
          type: boolean
          description: true — клиент только что зарегистрирован (имя пустое)

    RefreshTokenRequest:
      type: object
      required: [refresh_token]
      properties:
        refresh_token:
          type: string

    PushTokenRequest:
      type: object
      required: [token, platform]
      properties:
        token:
          type: string
          description: Push-токен устройства (APNs/FCM)
        platform:
          type: string
          enum: [ios, android]

    PushTokenDeleteRequest:
      type: object
      required: [token, platform]
      properties:
        token:
          type: string
        platform:
          type: string
          enum: [ios, android]

    # -------- PROFILE --------
    UpdateProfileRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          example: Иван

    ChangePhoneRequestCodeRequest:
      type: object
      required: [new_phone]
      properties:
        new_phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          example: '+79991234567'

    ChangePhoneConfirmRequest:
      type: object
      required: [new_phone, code]
      properties:
        new_phone:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
        code:
          type: string
          pattern: '^\d{4,6}$'

    # -------- TRACK CONFIGURATION (read-only) --------
    TrackConfiguration:
      type: object
      required: [id, name, type]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          enum: [Короткая, Длинная]
        type:
          type: string
          enum: [novice, experienced]
          description: novice — короткая (до 8 чел.), experienced — длинная (до 14 чел.)
        description:
          type: string
          nullable: true
          description: Дополнительное описание трассы

    # -------- MARSHAL (read-only) --------
    Marshal:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        rating_avg:
          type: number
          format: float
          minimum: 0
          maximum: 5
          description: Средний рейтинг маршала (из оценок клиентов)

    InstructorListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Marshal'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # -------- SLOT (read-only) --------
    Slot:
      type: object
      required:
        - id
        - track_config
        - marshal
        - start_at
        - total_karts
        - free_karts
        - free_rental_gear
        - price_kart
        - price_gear_rental
        - requirements_text
        - status
      properties:
        id:
          type: string
          format: uuid
        track_config:
          $ref: '#/components/schemas/TrackConfiguration'
        marshal:
          $ref: '#/components/schemas/Marshal'
        start_at:
          type: string
          format: date-time
          description: Время старта в UTC
        total_karts:
          type: integer
          description: Всего картов в заезде (≤ 14, для novice ≤ 8)
        free_karts:
          type: integer
          description: Свободно картов (расчётное)
        free_rental_gear:
          type: integer
          description: Свободно прокатных комплектов экипировки
        price_kart:
          type: integer
          description: Цена за карт (RUB)
        price_gear_rental:
          type: integer
          description: Цена проката экипировки за комплект (RUB)
        requirements_text:
          type: string
          description: Возрастные/ростовые требования (информационно)
        status:
          type: string
          enum: [scheduled, cancelled]
          description: scheduled — запланирован, cancelled — отменён центром
        meeting_point:
          type: string
          description: Текстовое описание места сбора (например, "Площадка у павильона №2")
        address:
          type: string
          description: Полный адрес центра
        duration_minutes:
          type: integer
          description: Фактическая длительность заезда в минутах (включая инструктаж)

    SlotSummary:
      type: object
      required:
        - id
        - track_config
        - marshal
        - start_at
        - total_karts
        - free_karts
        - free_rental_gear
        - price_kart
        - price_gear_rental
        - status
      properties:
        id:
          type: string
          format: uuid
        track_config:
          $ref: '#/components/schemas/TrackConfiguration'
        marshal:
          $ref: '#/components/schemas/Marshal'
        start_at:
          type: string
          format: date-time
        total_karts:
          type: integer
        free_karts:
          type: integer
        free_rental_gear:
          type: integer
        price_kart:
          type: integer
        price_gear_rental:
          type: integer
        status:
          type: string
          enum: [scheduled, cancelled]
        meeting_point:
          type: string
        address:
          type: string
        duration_minutes:
          type: integer

    SlotListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SlotSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # -------- RATING SUMMARY (для вложения в Booking) --------
    RatingSummary:
      type: object
      required:
        - value
      properties:
        value:
          type: integer
          minimum: 1
          maximum: 5
          description: Числовая оценка
        comment:
          type: string
          nullable: true
          description: Комментарий

    # -------- BOOKING (read-write) --------
    Booking:
      type: object
      required:
        - id
        - slot_id
        - client_id
        - seats_count
        - rental_gear_count
        - status
        - price_total
        - created_at
      properties:
        id:
          type: string
          format: uuid
        slot_id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        seats_count:
          type: integer
          minimum: 1
          maximum: 14
          description: Число забронированных мест
        rental_gear_count:
          type: integer
          minimum: 0
          maximum: 14
          description: Число прокатных комплектов (≤ seats_count)
        status:
          type: string
          enum: [active, cancelled, late_cancel, center_cancelled]
          description: |
            active — активна,
            cancelled — отменена клиентом (ранняя),
            late_cancel — поздняя отмена (место не освобождено),
            center_cancelled — отменена центром
        price_total:
          type: integer
          readOnly: true
          description: Итоговая стоимость (RUB), рассчитана сервером
        cancellation_reason:
          type: string
          nullable: true
          description: Причина отмены центром (только для center_cancelled)
        created_at:
          type: string
          format: date-time
        cancelled_at:
          type: string
          format: date-time
          nullable: true
          description: Дата и время отмены
        slot:
          $ref: '#/components/schemas/Slot'
          description: Вложенные данные слота (для деталей)
        rating:
          $ref: '#/components/schemas/RatingSummary'
          nullable: true
          description: Оценка маршала для этой брони (если уже оставлена), иначе null

    CreateBookingRequest:
      type: object
      required: [slot_id, seats_count, rental_gear_count]
      properties:
        slot_id:
          type: string
          format: uuid
        seats_count:
          type: integer
          minimum: 1
          maximum: 14
          description: Число мест (проверяется сервером)
        rental_gear_count:
          type: integer
          minimum: 0
          maximum: 14
          description: Число прокатных комплектов (≤ seats_count)

    BookingSummary:
      type: object
      required:
        - id
        - slot_id
        - seats_count
        - rental_gear_count
        - status
        - price_total
        - created_at
      properties:
        id:
          type: string
          format: uuid
        slot_id:
          type: string
          format: uuid
        seats_count:
          type: integer
        rental_gear_count:
          type: integer
        status:
          type: string
          enum: [active, cancelled, late_cancel, center_cancelled]
        price_total:
          type: integer
          readOnly: true
        cancellation_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        cancelled_at:
          type: string
          format: date-time
          nullable: true
        slot:
          $ref: '#/components/schemas/SlotSummary'
        rating:
          $ref: '#/components/schemas/RatingSummary'
          nullable: true

    BookingListResponse:
      type: object
      required: [items, meta]
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/BookingSummary'
        meta:
          $ref: '#/components/schemas/PaginationMeta'

    # -------- RATING --------
    CreateRatingRequest:
      type: object
      required: [marshal_id, booking_id, value]
      properties:
        marshal_id:
          type: string
          format: uuid
          description: Идентификатор маршала
        booking_id:
          type: string
          format: uuid
          description: Идентификатор брони (для привязки)
        value:
          type: integer
          minimum: 1
          maximum: 5
          description: Оценка от 1 до 5
        comment:
          type: string
          maxLength: 500
          description: Опциональный комментарий

    Rating:
      type: object
      required: [id, client_id, marshal_id, booking_id, value, created_at]
      properties:
        id:
          type: string
          format: uuid
        client_id:
          type: string
          format: uuid
        marshal_id:
          type: string
          format: uuid
        booking_id:
          type: string
          format: uuid
        value:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

  responses:
    BadRequest:
      description: Неверные параметры запроса
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: bad_request
            message: Неверные параметры запроса
    Unauthorized:
      description: Отсутствует или неверен токен авторизации
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: unauthorized
            message: Требуется авторизация
    Forbidden:
      description: Доступ запрещён
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: forbidden
            message: Доступ запрещён
    NotFound:
      description: Ресурс не найден
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: not_found
            message: Ресурс не найден
    Conflict:
      description: |
        Конфликт — нарушение инварианта:
        - `slot_full` — нет свободных мест
        - `gear_unavailable` — нет прокатной экипировки
        - `double_booking` — повторная бронь того же слота
        - `already_cancelled` — повторная отмена
        - `idempotency_key_conflict` — тот же ключ с другим телом
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: slot_full
            message: Свободных мест больше нет
            details:
              free_karts: 0
              free_rental_gear: 2
    Gone:
      description: Слот отменён центром
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: slot_cancelled
            message: Заезд отменён администрацией
    UnprocessableEntity:
      description: Операция невозможна по бизнес-правилу (например, заезд уже начался)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: slot_started
            message: Заезд уже начался, операция недоступна
    TooManyRequests:
      description: Слишком частые запросы (защита от перебора/расходов на SMS)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: too_many_requests
            message: Слишком много попыток. Повторите позже
    InternalError:
      description: Внутренняя ошибка сервера
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: internal_error
            message: Что-то пошло не так. Попробуйте позже

security:
  - bearerAuth: []